.header {
    display: flex;
    justify-content: space-between; 
    top: 0;
    position: sticky;
    align-items: center;
    background-color: #3b3c3e;
    color: white;
    padding: 10px 50px;
    height: 10vh;
    z-index: 1;
}

.header-actions {
    display: flex;
    gap: 10px;
}

.header-button {
    height: 30px;
    border-radius: 4px;
    background-color: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    font-weight: 500;
    padding: 6px 16px;
    border: 0px;
    
    
    cursor: pointer;
}

.header-scheduler:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.header-scheduler:active {
    transform: scale(0.99);
    transition-duration: 1s;
}