.interviews{
    width: 100%;
}


th {
    color: rgb(97, 97, 97);
    text-align: left;
    border-bottom: 1px solid #ccc;
    margin: 0 30px;
    padding: 20px 0;
}

td {
    padding: 20px 0;
}

.date .participants{
    min-width: 100px;
}

.title {
    min-width: 170px;
}

.start-time .end-time{
    min-width: 75px;
    text-align: center;
}

.participants {
    text-align: center;
}

.interviews-table {
    width: 100%;
}