.detail-sections {
    margin-top: 30px;
}
ul {
    margin-top: 30px;
    overflow-y: scroll;
    height: 120px;
}

.download-attachment {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: fit-content;
    background-color:rgb(33, 150, 243);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    height: 30px;
}

.footer-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.interview-edit {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    gap: 20px;
    
}

.cancel-meeting-btn {
    height: 30px;
    border-radius: 4px;
    background-color: #ccc;
    color: black;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    font-weight: 500;
    padding: 6px 16px;
    border: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
}

.interview-edit-btn {
    height: 30px;
    border-radius: 4px;
    background-color: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    font-weight: 500;
    padding: 6px 16px;
    border: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
}