.modal {
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: fit-content;
    background-color: white;
    color: black;
    min-height: 500px;
    padding: 30px 30px;
    padding-bottom: 40px;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.close-btn:hover {
  color: rgb(33, 150, 243);
}

.schedule-details-form {
  margin-top: 20px;
  width: 100%;
}

.newtitle {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  outline: none;
  font-size: 18px;
  margin-bottom: 30px;
}

.newtitle:active {
  outline: none;
}

.interview-date {
  width: 100%;
  margin: 30px 0;
}

.interview-date-label {
  margin-right: 30px;
  margin-left: 10px;
  color: rgb(97, 97, 97);
}

.interview-time {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.interview-time-label {
  margin-right: 10px;
  color: rgb(97, 97, 97);
}

.alert
{
  font-weight: bold;
  color: red;
}

.submitfile {
  color: rgb(97, 97, 97);
  font-size: 14px;
}

.upload-resume {
  margin-top: 5px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 10px;
}

.scheduling-actions {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.submit {
  height: 30px;
  border-radius: 4px;
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  font-weight: 500;
  padding: 6px 16px;
  border: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}
.cancel {
  height: 30px;
  border-radius: 4px;
  /* background-color: rgb(33, 150, 243); */
  color: black;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  font-weight: 500;
  padding: 6px 16px;
  border: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}
